#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid-container {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 20px;
}

.text-right {
  text-align: right;
  font-weight: bold;
  font-size: 2.25rem;
}

.grid h2 {
  font-size: 2.25rem;
}

.font-bold {
  font-weight: bold;
}

.inline {
  display: inline;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
