#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid-container {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 20px;
}

.text-right {
  text-align: center;
  font-weight: bold;
  font-size: 2.25rem;
}

.grid h2 {
  font-size: 2.25rem;
}

.font-bold {
  font-weight: bold;
}

.prof {
  font-size: 2rem;
}

.about-intro {
  text-align: justify;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .text-right {
    font-size: 1.75rem;
  }

  .prof {
    font-size: 1rem;
    align-items: center;
  }
}