/* experience.css */

#experiences {
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.experience {
  display: grid;
  grid-template-columns: 100%;
  gap: 30px;
  padding: 20px;
  border-bottom: 1px solid white;
  position: relative;
  background-color: #4216bb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.experience .experience-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}

.experience h4 {
  color: white;
  margin-bottom: 10px;
}


#experiences h2 {
  font-size: 2.25rem;
  color: white;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .experience-list {
    grid-template-columns: 1fr;
  }
}
