/* experience.css */

.experience-section {
  display: flex;
  flex-direction: column;
  padding: 5%;
  justify-content: center;
  align-items: center;
  background-color: #aec3b0;
}

.experience-section h2 {
  font-size: 2.25rem;
  color: white;
}

.custom-timeline-dot {
  width: 32px;
  height: 32px;
}

.timeline-image {
  border-radius: 50%;
  width: 100%;
}

.experience-details {
  color: white;
  /* padding: 20px; */
  border-bottom: 1px solid white;
  position: relative;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.details-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.role-description {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}

.details-inner h4 {
  color: white;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .experience-section {
    padding: 20px;
  }

  .role-description {
    font-size: 14px;
  }

  .experience-title {
    font-size: 15px;
    /* padding: 10px; */
  }
}
