.card {
  background-color: rgba(176, 174, 174, 0.363);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px auto;
  box-shadow: 0 2px 4px rgba(176, 174, 174, 0.363);
  text-align: left;
  max-width: 60%; 
}

.card input,
.card textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box; 
}

.card textarea {
  height: 100px;
  resize: vertical;
}

.card button {
  background-color: aquamarine;
  color: black;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 80%; 
    margin: 10px auto;
  }
}
