.nav_button {
  position: relative;
  overflow: hidden;
  padding: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(#020202, #181818);
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: flex-start;
}

nav ul li {
  display: inline-block;
}

.nav_button::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: tranform 10s ease;
}

.nav_button:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
  padding: 10px;
}

.nav-menu {
  display: flex;
}

.nav-menu li {
  display: flex;
  color: #f6f6f6;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 940px) {
  .hamburger {
    display: flex;
    z-index: 5;
    justify-content: right;
  }

  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    top: 0;
    left: -100%;
    transition: 0.9s ease-in-out;
  }

  .active {
    left: 0;
  }

  .nav-menu li {
    margin: .5rem;
  }

  .nav-menu li {
    font-size: 1.2rem;
  }

  .nav-menu li:hover {
    border-bottom: 1px solid #aaa;
    width: 175px;
  }

  .nav-menu button {
    margin: 1rem auto;
    padding: .7rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 25px;
    border: none;
    background: rgba(255, 255, 255, .3);
    width: 100%;
    color: #f6f6f6;
  }

  .nav-menu button:hover {
    background: rgba(255, 255, 255, .1);
  }

  .nav-menu .social-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
  }

  .nav-menu .icon {
    color: #f8f8f8cc;
    font-size: 1.4rem;
  }

  .hide {
    display: none;
  }

  .navbar .slide-right {
    margin-left: 45%;
    transition: .8s ease-in-out;
  }
}

@media screen and (max-width: 495px) {
  .nav-menu {
    width: 75%;
  }

  .navbar .slide-right {
    margin-left: 30%;
  }
}