#projects {
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

#projectDetails {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2rem;
  padding: 20px;
}

#projects h2 {
  font-size: 2.25rem;
  color: white;
}

.proj {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#020202, #181818);
  border-radius: 10px;
  color: white;
  padding: 20px;
  opacity: 0;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  animation: fade-in 1s ease-in-out forwards, slide-up 1s ease-in-out forwards;
  transition: transform 0.3s ease-in-out;
}

.proj:hover {
  transform: scale(1.05) rotate(5deg);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 0.8;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 0.8;
    transform: translateY(0);
  }
}

@keyframes rotate {
  from {
    opacity: 0;
    transform: rotateX(90deg);
  }
  to {
    opacity: 0.8;
    transform: rotateX(0);
  }
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons img {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.proj h3,
.proj span,
.proj a {
  margin-bottom: 10px;
}

.proj button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.proj button:hover {
  background-color: #555;
}

/* Media Queries */
@media (max-width: 768px) {
  #projectDetails {
    grid-template-columns: 1fr;
  }
}
