
#skills {
  text-align: center;
  margin: 20px;
}

#skills h2 {
  color: white;
}

#skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.skill {
  text-align: center;
  margin: 10px;
  width: calc(33% - 10px); 
  padding: 10px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 0 10px rgba(230, 226, 226, 0.2);
}
.tilt {
  transition: transform 0.5s; /* Add a transition for a smooth tilt effect */
}

.tilt:hover {
  transform: scale(1.1) rotate(3deg); /* Adjust the scale and rotation values as needed */
}

.skill-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.skill-name {
  font-weight: bold;
}

.icons-circle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.skill-icon {
  margin: 5px;
  font-size: 32px;
}
