/* src/styles/styles.css */

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  width: auto;
  font-family: Arial, sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  background-color: #cccccc;
  color: #333;
}


.side-ribbon {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  z-index: 9999;
}

.ribbon-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ribbon-links a {
  color: #fff;
  text-decoration: none;
}

.ribbon-links i {
  margin-right: 5px;
}


/* Footer styles */
footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: #fff;
  width: 100%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 15px;
  }

  section {
    padding: 30px 20px;
  }

  section h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .side-ribbon {
    top: auto;
    bottom: 20px;
    right: 20px;
    transform: translateY(0);
  }

  .ribbon-links {
    flex-direction: row;
    justify-content: flex-end;
  }

  .ribbon-links li {
    margin-left: 10px;
  }
}