#welcomepage {
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
  opacity: 0.8;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcomepage>h1 {
  font-size: 50px;
}

@keyframes dropAnimation {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.circular_image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  gap: 150px;
}

.box {
  width: 50px;
  height: 50px;
  color: #00136c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.box:first-child {
  background-color: red;
  animation: loader 2s infinite;
}

.box:nth-child(2) {
  background-color: green;
  animation: loader 3s infinite;
}

.box:nth-child(3) {
  background-color: yellow;
  animation: loader 4s infinite;
}

.box:last-child {
  background-color: blue;
  animation: loader 5s infinite;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: y 90deg;
    scale: 0.5;
  }

  50% {
    rotate: 180deg;
  }

  75% {
    rotate: x 270deg;
    border-radius: 50%;
  }

  100% {
    rotate: 360deg;
  }
}

.user-pic {
  width: 300px;
  border-radius: 50%;
  padding: 2px;
  background-size: 250%;
  background-position: 100% 100%;
  animation: animateBackground 1s infinite;
}

.user-pic:hover {
  background-position: 0% 0%;
}

@keyframes animateBackground {
  0% {
    background-position: 0% 0%;
    background: linear-gradient(0deg, rgb(224, 227, 230), rgb(0, 174, 255) 50%, transparent 50%);
  }

  25% {
    background-position: 100% 0%;
    background: linear-gradient(90deg, rgb(224, 227, 230), rgb(0, 174, 255), transparent 50%);
  }

  50% {
    background-position: 100% 100%;
    background: linear-gradient(180deg, rgb(224, 227, 230), rgb(0, 174, 255), transparent 50%);
  }

  75% {
    background-position: 0% 100%;
    background: linear-gradient(270deg, rgb(224, 227, 230), rgb(0, 174, 255), transparent 50%);
  }

  100% {
    background-position: 0% 0%;
    background: linear-gradient(360deg, rgb(224, 227, 230), rgb(0, 174, 255), transparent 50%);
  }
}

.dropping-letter {
  display: inline-block;
  /* animation-name: dropAnimation; */
  /* animation-duration: 5s; */
  transform: scaleX(1);
  transition: trasform 3s ease;
  /* animation-timing-function: ease-in-out; */
  /* animation-iteration-count: infinite; */
}

.dropping-letter:nth-child(1) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(2) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(3) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(4) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(5) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(6) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(7) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(8) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(9) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(10) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(11) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(12) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(13) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(14) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(15) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(16) {
  transform: scaleX(1)
}

.dropping-letter:nth-child(17) {
  animation-delay: 1.7s;
}

.dropping-letter:nth-child(18) {
  animation-delay: 1.8s;
}

.dropping-letter:nth-child(19) {
  animation-delay: 1.9s;
}

.dropping-letter:nth-child(20) {
  animation-delay: 2.0s;
}

.dropping-letter:nth-child(21) {
  animation-delay: 2.1s;
}

.dropping-letter:nth-child(22) {
  animation-delay: 2.2s;
}

.dropping-letter:nth-child(23) {
  animation-delay: 2.3s;
}

.dropping-letter:nth-child(24) {
  animation-delay: 2.4s;
}

.dropping-letter:nth-child(25) {
  animation-delay: 2.5s;
}

#intro {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15rem solid white;
  animation: blink 0.75s step-end infinite, typing 3s steps(24, end);
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 50%;
  }

}

@keyframes blink {
  from {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

@media (max-width: 768px) {
  #welcomepage {
    padding: 20px;
    height: 75vh;
  }

  #welcomepage>h1 {
    font-size: 25px;
    text-align: center;
  }

  #welcomepage>h2 {
    text-align: center;
    font-size: 15px;
  }
}